.header		{
		background-color: #b5dcb3; 
		height: 10vh;
		width: 1000px;
		position: relative;
		z-index: 4;
		margin: 0 auto;
		}

.menu 		{
  		background-color: #333;
		width: 1000px;
  		overflow: hidden;
		margin: 0 auto;
		}

.menu a		{
		float: left;
    		position: relative;
    		top: 0;
    		left: 0;
    		transform: none;
 		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		}

.menu a:hover {
  		background-color: #ddd;
  		color: black;
		}


.topnav a.active {
  		background-color: #4CAF50;
  		color: white;
		}


.content	{	
		background-color: #dddddd;
		height: 70vh;
		width: 1000px;
		position: relative;
		z-index: 10;
		box-shadow: 0 0 10 PX 0 #000;
		transition: all 0.9s ease;
		display: block;
		margin: 0 auto;
		}

.background	{
		background-color: yellow;
 		position: absolute;
  		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
 		z-index: -1;
		}

.footer		{	
		background-color: #dddddd;
		position: relative;
		display: block;
		width: 1000px;
		height: 10vh;
		clear: both;
		z-index: 2;
		margin: 0 auto;
		}

.footer	p	{	
  		text-align:center;
		padding-top: 40px;
		}